<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73a577">  <td>21/12/14 17:36:31</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;First_Case.beforeTest()[pri:0, instance:RinkuPCKG.First_Case@37918c79]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1699113578</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>21/12/14 17:37:02</td>   <td>31043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="First_Case.BothValueBlank()[pri:0, instance:RinkuPCKG.First_Case@37918c79]">BothValueBlank</td> 
  <td>main@1699113578</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>21/12/14 17:37:08</td>   <td>37878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="First_Case.PasswordBlank()[pri:1, instance:RinkuPCKG.First_Case@37918c79]">PasswordBlank</td> 
  <td>main@1699113578</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>21/12/14 17:37:17</td>   <td>46331</td> <td>&nbsp;</td><td title="&lt;&lt;First_Case.afterTest()[pri:0, instance:RinkuPCKG.First_Case@37918c79]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1699113578</td>   <td></td> </tr>
</table>
